<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>se.rrva.OpenConnectUI2.ToolX</string>
	<key>CFBundleName</key>
	<string>ToolX</string>
	<key>CFBundleShortVersionString</key>
	<string>"1.811"</string>
	<key>CFBundleVersion</key>
	<string>811</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "se.rrva.OpenConnectUI2" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: Ragnar Rova (U34QC433V8)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
